* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.all-width {
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
}
.btn{
    padding: 14px 25px;
    background-color: #FD6E0A;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFF;
    border: none;
    border-radius: 6px;
}


.container {
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 2.8rem;
    font-weight: bolder;
    color: #181818;
}

nav .color-orenge {
    color: rgba(253, 110, 10, 1);
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu li {
    list-style: none;

}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}